root = true
[*]
max_line_length = 110
[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard_no-empty-first-line-in-class-body=disabled
ktlint_standard_string-template-indent=disabled
ktlint_standard_multiline-expression-wrapping=disabled
ktlint_standard_indent=disabled
ktlint_standard_string-template=disabled
ktlint_standard_function-signature=disabled
ktlint_standard_import-ordering=disabled
